<div class="main_container page">
  <div class="section section_odd">
    <div class="container">
      <h1>Ultime transazioni</h1>
      <p>TODO</p>
    </div>
  </div>
  <div class="section section_even">
    <div class="container">
      <h2>Conti più usati</h2>
      <p>TODO</p>
    </div>
  </div>
</div>
