<div class="main_container page import" id="new_import">
  <div class="section section_even">
    <div class="container">
      <h1 class="title">Nuovo tipo di import</h1>
      <%= form_tag(imports_path, method: :post) do -%>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>
 
 
