#accounts {
  h1 {
    a {
      float: right;
    }
  }
  table {
    .edit {
      width: 60px;
    }
    .type {
      width: 200px;
    }
    .balance {
      width: 120px;
    }
    .transactions {
      width: 120px;
    }
    .type_deposit {
      color: green;
    }
    .type_expenses {
      color: red;
    }
  }
}
