#accounts {
  h1 {
    a {
      float: right;
    }
  }
  table {
    .type {
      width: 200px;
    }
    .balance {
      width: 120px;
      text-align: right;
    }
    .transactions {
      width: 120px;
    }
    .type_deposit {
      color: green;
    }
    .type_expenses {
      color: red;
    }
  }
}
