<div class="main_container page transaction" id="new_transaction">
  <div class="section section_even">
    <div class="container">
      <h1 class="title">Nuova transazione</h1>
      <%= form_tag(transactions_path, method: :post) do -%>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>
 
